<div class="content">
  <h2>All blogs</h2>
  <div class="blogs">
    <% if (blogs.length> 0) { %>
      <% blogs.forEach(blog=> { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title">
            <%=blog.title %>
          </h3>
          <p class="snippet">
            <%= blog.snippet %>
          </p>
        </a>
        <% }) %>
          <% } else {%>
            <p>Nothing yet to see here and onwards!</p>
            <% }%>
          <div class="pages"> 
            <button id="load-more">LOAD MORE</button>
          </div>
  </div>
  <script>
  const loadMore = document.querySelector('#load-more');
  const loadNextPage = loadMoreBlogs(1)
  loadMore.addEventListener("click", loadNextPage)
  function loadMoreBlogs(firstPage){
    let currentPage = firstPage;
    return async function loadNextPage(){
      const response = await fetch(`http://localhost:3002/blogs/load-more`, {
      method: "POST",
      body: JSON.stringify({
        currentPage
      }),
      headers: {
        "Content-Type": "application/json"
      }
    });
    if(!response){
      console.log("COULD NOT GET RESPONSE")
      return
    }
    const json = await response.json();
    const blogs = json.blogs;
    const blogsDiv = document.querySelector('.blogs');
    blogs.map(b => {
      const blogElement = document.createElement('a');
      blogElement.classList.add('single');
      blogElement.href = `/blogs/${b._id}`;
      blogElement.innerHTML = `
        <h3 class="title">
          ${b.title}
        </h3>
        <p class="snippet">
          ${b.snippet}
        </p>
      `;
      blogsDiv.appendChild(blogElement);
    })
    currentPage = json.currentPage
    }
  }
  </script>
</div>
 