<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keech writes blogs | <%= title %></title>
    <link rel="stylesheet" href="/styles/shared.css">  
    <link rel="stylesheet" href="/styles/index.css">  
    <link rel="stylesheet" href="/styles/create-update.css">  
    <link rel="stylesheet" href="/styles/blog-details.css">  
    <link rel="stylesheet" href="/styles/login-signup.css">  
    <link rel="stylesheet" href="/styles/about.css">  
    <link rel="stylesheet" href="/styles/navbar.css">  
    <link rel="stylesheet" href="/styles/header.css">  
    <link rel="stylesheet" href="/styles/footer.css">  
    <link rel="stylesheet" href="/styles/not-authorized.css">  
    <link rel="stylesheet" href="/styles/not-found.css">  
</head>