<nav>
    <div class='title'>
        <a href="/">
            <h1>Keech writes things</h1>
            <p>A keech site</p>
        </a>
    </div>
   <div class="links">
    <li id="blogs"><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <% if(user){ %>
     <li><a href="/blogs/create" id="newBlog">New Blog</a></li>
     <li>
        <form action="/user/logout" method="GET" class="logout">
            <button class="logout">Log Out</button>
        </form>
    </li>
    <%}%>
    <% if(!user){ %>
     <li><a href="/login" id="logIn">Log In</a></li>
    <li><a href="/signup" id="logIn">Sign Up</a></li>
    <%}%>
  </div>
</nav>