<div class="not-authorized content">
  <p>⚠You're not authorized to create, update nor delete blogs at this time.</p>
  <p>Redirecting...</p>
</div>
<script>
  setTimeout(() => {
    window.location.href = "/";
  }, 3000);
</script>
