<div class="about content">
  <h2>About Us</h2>
  <p>Welcome, User!</p>
  <p>
    Keech has hereby given you an exclusive and limited permission to write in
    her name.
  </p>
  <p>
    As soon as you sign up with anything that looks like it might be an email
    address and a password not shorter than 6 characters, you will be redirected
    to login page where you may enter the exact same credentials and get
    permission to contribute to the pool of blogs.
  </p>
  <p>
    Make sure that you don't get too attached to your account or any of the
    posts as they are programmed to be perishable.
  </p>
  <p>
    Keech values transparency so you have been provided access to live updates
    if you want to be informed about database changes in real time.
  </p>

  <a href="https://github.com/Marija-Kov/good-ol-blog-website"
    ><img class="github-logo" src="/assets/github.png" alt="github"
  /></a>

  <% if (user) { %>
  <button id="edit-about">edit (out of order)</button>
  <% } %>
</div>
