<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %> <%- body %> <%-
    include('./partials/foot.ejs') %>
    <div class="liveUpdatesContainer">
      <div class="liveUpdatesContent"></div>
      <button class="enableLiveUpdates">Live Updates</button>
    </div>
    <script>
      const button = document.querySelector(".enableLiveUpdates");
      let socket;

      const handleOpen = (e) => {
        console.log("ðŸ–¥ï¸ Open WS request sent");
      };

      const handleMessage = (event) => {
        const message = event.data;
        if (!message) {
          console.log("No message received from server");
          return;
        }
        console.log(message);
      };

      const handleClose = (event) => {
        console.log("ðŸ–¥ï¸ Close WS request sent");
        cleanup();
      };

      const openWebSocket = () => {
        socket = new WebSocket("wss://localhost:3002");
        socket.addEventListener("open", handleOpen);
        socket.addEventListener("close", handleClose);
        socket.addEventListener("message", handleMessage);
        button.removeEventListener("click", openWebSocket);
        button.addEventListener("click", closeWebSocket);
      };

      const closeWebSocket = () => {
        socket.close();
      };

      const cleanup = () => {
        socket.removeEventListener("open", handleOpen);
        socket.removeEventListener("close", handleClose);
        socket.removeEventListener("message", handleMessage);
        button.removeEventListener("click", closeWebSocket);
        button.addEventListener("click", openWebSocket);
      };

      button.addEventListener("click", openWebSocket);
    </script>
  </body>
</html>
