<!DOCTYPE html>
<html lang="en">

<body>
        <div class="create-blog content">
            <form action="/user/login" method="POST">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <% if (error){ %>
                 <p class="error"><%= error %></p>
                <% } %>
                <button>Log In</button>
            </form>
        </div>
</body>
</html>
